@import "tailwindcss";

@theme{
  --spacing: 1px;
}

.glass{
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-purple{
  background-color: rgba(170, 50, 200, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-purple-light{
  background-color: rgba(225, 150, 255, 0.075);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-blue{
  background-color: rgba(50, 100, 200, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-blue-light{
  background-color: rgba(175, 200, 255, 0.075);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.glass-hover:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.loading-dot {
  width: 12px;
  height: 12px;
  border-radius: 999px;
  background-color: rgb(254, 245, 151);
  animation: pulse-dot 0.9s ease-in-out infinite;
}

@keyframes pulse-dot {
  0%,
  100% {
    opacity: 0.3;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
}

.gradient-text {
	background: linear-gradient(135deg, oklch(64.377% 0.24312 32.118), oklch(0.65 0.25 155));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}